.idea\*
build/classes
.idea/workspace.xml
*.lock
*.bin
*.lock
*.xml
*.html
*.css
*.class
.gradle/4.10.3/fileContent/fileContent.lock
.gradle/4.10.3/fileHashes/fileHashes.bin
.gradle/4.10.3/fileHashes/fileHashes.lock
.gradle/4.10.3/javaCompile/classAnalysis.bin
.gradle/4.10.3/javaCompile/javaCompile.lock
.gradle/4.10.3/javaCompile/taskHistory.bin
.gradle/4.10.3/taskHistory/taskHistory.bin
.gradle/4.10.3/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.idea/workspace.xml
build/classes/java/main/com/tuo/netty/learn/Cilent$1.class
build/classes/java/main/com/tuo/netty/learn/Cilent.class
build/classes/java/main/com/tuo/netty/learn/ClientChannelHandler.class
build/classes/java/main/com/tuo/netty/learn/Server$1.class
build/classes/java/main/com/tuo/netty/learn/Server.class
build/classes/java/main/com/tuo/netty/learn/ServerChildHandle.class
build/reports/tests/test/js/report.js
build/test-results/test/binary/output.bin.idx
.gradle/4.10.3/fileContent/fileContent.lock
.gradle/4.10.3/fileHashes/fileHashes.bin
.gradle/4.10.3/fileHashes/fileHashes.lock
.gradle/4.10.3/javaCompile/classAnalysis.bin
.gradle/4.10.3/javaCompile/javaCompile.lock
.gradle/4.10.3/javaCompile/taskHistory.bin
.gradle/4.10.3/taskHistory/taskHistory.bin
.gradle/4.10.3/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.idea/workspace.xml
build/classes/java/main/com/tuo/netty/learn/Cilent$1.class
build/classes/java/main/com/tuo/netty/learn/Cilent.class
build/classes/java/main/com/tuo/netty/learn/ClientChannelHandler.class
build/classes/java/main/com/tuo/netty/learn/Server$1.class
build/classes/java/main/com/tuo/netty/learn/Server.class
build/classes/java/main/com/tuo/netty/learn/ServerChildHandle.class
.gradle/4.10.3/fileContent/fileContent.lock
*.bin
.idea/workspace.xml
